<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>WeatherConditionTornado</string>
	<key>1</key>
	<string>WeatherConditionTropicalStorm</string>
	<key>2</key>
	<string>WeatherConditionHurricane</string>
	<key>3</key>
	<string>WeatherConditionSevereThunderstorm</string>
	<key>4</key>
	<string>WeatherConditionThunderstorm</string>
	<key>5</key>
	<string>WeatherConditionMixedRainAndSnow</string>
	<key>6</key>
	<string>WeatherConditionMixedRainAndSleet</string>
	<key>7</key>
	<string>WeatherConditionMixedSnowAndSleet</string>
	<key>8</key>
	<string>WeatherConditionFreezingDrizzle</string>
	<key>9</key>
	<string>WeatherConditionDrizzle</string>
	<key>10</key>
	<string>WeatherConditionFreezingRain</string>
	<key>11</key>
	<string>WeatherConditionShowers1</string>
	<key>12</key>
	<string>WeatherConditionRain</string>
	<key>13</key>
	<string>WeatherConditionSnowFlurries</string>
	<key>14</key>
	<string>WeatherConditionSnowShowers</string>
	<key>15</key>
	<string>WeatherConditionBlowingSnow</string>
	<key>16</key>
	<string>WeatherConditionSnow</string>
	<key>17</key>
	<string>WeatherConditionHail</string>
	<key>18</key>
	<string>WeatherConditionSleet</string>
	<key>19</key>
	<string>WeatherConditionDust</string>
	<key>20</key>
	<string>WeatherConditionFog</string>
	<key>21</key>
	<string>WeatherConditionHaze</string>
	<key>22</key>
	<string>WeatherConditionSmoky</string>
	<key>23</key>
	<string>WeatherConditionBreezy</string>
	<key>24</key>
	<string>WeatherConditionWindy</string>
	<key>25</key>
	<string>WeatherConditionFrigid</string>
	<key>26</key>
	<string>WeatherConditionCloudy</string>
	<key>27</key>
	<string>WeatherConditionMostlyCloudyNight</string>
	<key>28</key>
	<string>WeatherConditionMostlyCloudyDay</string>
	<key>29</key>
	<string>WeatherConditionPartlyCloudyNight</string>
	<key>30</key>
	<string>WeatherConditionPartlyCloudyDay</string>
	<key>31</key>
	<string>WeatherConditionClearNight</string>
	<key>32</key>
	<string>WeatherConditionSunny</string>
	<key>33</key>
	<string>WeatherConditionMostlySunnyNight</string>
	<key>34</key>
	<string>WeatherConditionMostlySunnyDay</string>
	<key>35</key>
	<string>WeatherConditionMixedRainFall</string>
	<key>36</key>
	<string>WeatherConditionHot</string>
	<key>37</key>
	<string>WeatherConditionIsolatedThunderstorms</string>
	<key>38</key>
	<string>WeatherConditionScatteredShowers</string>
	<key>39</key>
	<string>WeatherConditionScatteredThunderstorms</string>
	<key>40</key>
	<string>WeatherConditionScatteredSnowShowers</string>
	<key>41</key>
	<string>WeatherConditionHeavySnow</string>
	<key>42</key>
	<string>WeatherConditionScatteredSnowShowers</string>
	<key>43</key>
	<string>WeatherConditionBlizzard</string>
	<key>44</key>
	<string>WeatherConditionPartlyCloudyDay</string>
	<key>45</key>
	<string>WeatherConditionHeavyRain</string>
	<key>46</key>
	<string>WeatherConditionSnowShowers</string>
	<key>47</key>
	<string>WeatherConditionIsolatedThundershowers</string>
	<key>3200</key>
	<string>NotAvailable</string>
</dict>
</plist>
